@charset "utf-8";
/* CSS Document */

#ana{
		width:1800px;
		height:600px;
		margin:auto;
		
		background:url(ust%20foto.jpg);
}
#ust{
	width:1500px;
	height:110px;
	float:left;
	margin-left:150px;
	margin-top:40px;
	background-color:#FFF;
	border:solid 6px #FFF;
	border-radius:40px;
}
#ust_sol{
	width:180px;
	height:100px;
	float:left;
	margin-top:5px;
	border:solid 6px #FFF;
	border-radius:20px;
	margin-left:20px;
}
.baslik{
	font-size:24px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#000;
	float:left;
	margin-left:35px;
	margin-top:35px;
}
#ust_sag{
	width:600px;
	height:80px;
	background-color:#FFF;
	float:right;
	margin-right:40px;
}
#menu{
	width:560px;
	height:90px;
	color:#FFF;
	margin:auto;
	list-style-type:none;
}
#menu li{
	width:130px;
	height:60px;
	float:left;
	margin-top:40px;
	
}
#menu a{
	font-family: "Times New Roman", Times, serif;
	text-decoration:none;
    font-size: 18px;
    color:#000;
	padding:15px;
	display: block;
    text-align: center;
    line-height: 20px;

}
#menu a:hover {
	color:#03C;
	font-size:20px;
	transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	-webkit-transition:all .5s ease-in-out;
}
#orta{
	width:600px;
	height:200px;
	text-align:center;
	margin-left:650px;
	margin-top:260px;
	float:left;
}
.yazi{
	float:left;
	font-size:36px;
	color:#333333;
	margin-left:200px;
	margin-top:40px;
}
.yazi2{
	float:left;
	font-size:18px;
	color:#333333;
	margin-top:20px;
	margin-left:260px;
}

#map{
	width:900px;
	height:500px;
	float:left;
	margin-left:450px;
	padding-top:60px;
}
.metin{
	color:#000;
	font-size:20px;
	float:left;
	text-align:center;
}

#alt_menu{
	width:1500px;
	height:80px;
	float:left;
	
	margin-left:150px;
	}
	
	#menu2{
	width:1500px;
	height:90px;
	color:#FFF;
	margin:auto;
	list-style-type:none;

	
}
#menu2 li{
	width:200px;
	height:60px;
	float:left;
	margin-left:80px;
	
}
#menu2 a{
	font-family: "Times New Roman", Times, serif;
	text-decoration:none;
    font-size: 18px;
    color:#000;
	padding:15px;
	display: block;
    text-align: center;
    line-height: 20px;
	width:200px;
	float:left;
	margin-left:100px;
	margin-top:50px;
}
#menu2 a:hover {
	color:#F00;
	font-size:20px;
	transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	-webkit-transition:all .5s ease-in-out;
}
	

#alt_orta
{
	width:1500px;
	height:250px;
	float:left;
	margin-top:100px;
	margin-left:230px;
}

.sol{
	width:550px;
	height:160px;
	background-color:#FDB913;
	float:left;
	margin-left:80px;

}
.sag{
	width:550px;
	height:160px;
	float:left;
	margin-left:80px;
	border-radius:30px;
}
	
#alt{
	width:100px;
	height:100px;
	margin:auto;
}
.alt_cizgi{
	width:1800px;
	height:3px;
	background-color:#FC0;
	float:left;
	margin-left:50px;
	margin-top:50px;
}